@font-face {
  font-family: jai baba;
  src: url(../LibraSerifModern-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: jai baba;
}

main {
  height: 100%;
  width: 100%;

  /* background-color: antiquewhite; */
}

/* ###header */
header {
  display: flex;
  padding: 1rem;

  gap: 0.3rem;
  font-size: 5vw;
  background-color: #fffaf5;
  /* halka off-white bg */
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 24px 20px;
}

header > img {
  height: 8vw;
  width: 8vw;
  border-radius: 0.3rem;
}

/* ####section-1 */
.sec-1 {
  background-color: #fffaf5;
  /* halka off-white bg */
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
  /* grid ke gap ka size */
  height: auto;
  width: 100%;
  display: grid;
  /* background: linear-gradient( transparent,rgba(255, 255, 255, 0.908), rgba(173, 216, 230, 0.689)); */
  padding: 1rem;
  gap: 2rem;
  /* grid-template-columns: 1fr 1fr; */
}

.top {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.top > h1 {
  font-size: 14vw;
  background: linear-gradient(rgba(255, 255, 0, 0.597), rgba(0, 0, 0, 0.762));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top > button {
  padding: 1rem;
  font-size: 4vw;
  border-radius: 0.5rem;
  font-weight: 700;
}

.bottom {
  width: 100%;
  border-radius: 1rem;
  height: 80%;
  object-fit: cover;
}

.bottom > img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.bots-1 {
  display: flex;
  gap: 1rem;
  object-fit: cover;
  /* text-align: center; */
  align-items: center;
  margin-left: 1rem;

  /* background-color: aqua; */
}

.text-1 > h4 {
  color: orange;
}
.text-1 > p {
  font-size: 5vw;
  /* background-color: brown; */
  width: 100%;
}
.logos {
  width: 30%;
  /* background-color: brown; */
}

.logos > img {
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: -0.6rem;
  background-size: cover;
}

/* ####section-2 */

.sec-2 {
  height: auto;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

.sec-6 {
  height: auto;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

.box-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 5vw;
  line-height: 1;
  /* border: 2px solid black; */
}

.box-1 > h1 {
  font-size: 12vw;
  color: rgba(27, 26, 33, 0.812);
}

.box-3 > h1 {
  font-size: 12.5vw;
  color: rgba(27, 26, 33, 0.812);
}

.box-1 > p {
  gap: 0.5rem;
  display: flex;
  color: grey;
}

.box-3 > p {
  width: 90%;
  gap: 0.5rem;
  line-height: 1.2;
  color: grey;
}

.box-1 > p > i {
  font-size: 9vw;
}

.sec-6 .box-4 > img {
  width: 100%;
  height: 90vw;

  border-radius: 1rem;
}

.sec-2 .box-2 > img {
  height: 90vw;
  width: 100%;
  border-radius: 1rem;
}

.box-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 5vw;
  line-height: 1;
  /* border: 2px solid black; */
}

/* ###b0x-5 */
.box-5 {
  /* border: 2px solid black; */
  background: linear-gradient(
    rgba(250, 235, 215, 0.647),
    rgba(173, 216, 230, 0.585)
  );
  border-radius: 1rem;
  height: 90%;
  font-size: 6vw;
  padding: 1rem;
  margin: 1rem;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box-5 > h1 {
  font-size: 12vw;

  line-height: 1;
  width: 70%;
}
.pop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pop-1 > button {
  border: 2px solid black;

  width: 10%;
  font-size: 5vw;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.pop-1 > p {
  font-size: 6vw;
}

.box-6 > h1 {
  width: 50vw;
  font-size: 9vw;
  padding: 1rem;
}

/* ####section-5 */
.sec-5 {
  display: grid;
  gap: 1rem;
  height: auto;
  padding: 1rem;
}

.bot-1 {
  border: 0.2px solid rgba(0, 0, 0, 0.155);
  border-radius: 0.5rem;
  height: 70vw;
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.bot-1 > p {
  color: rgb(77, 75, 75);
  margin-left: 1rem;
  font-size: 5vw;
}

.bot-1 > button {
  padding: 0.6rem;
  border-radius: 0.4rem;
  color: black;
  background-color: rgba(229, 193, 85, 0.148);
  font-weight: 800;
  margin: 0 0.5rem 0;
}

.bot-1 > h3 {
  font-size: 8vw;
  margin-left: 1rem;
}

.bot-1 > p > strong {
  font-size: 10vw;
  color: black;
  margin-right: 0.2rem;
}

.bot-1 > p > i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.bot-1:nth-child(2) {
  background: linear-gradient(
    rgba(250, 235, 215, 0.647),
    rgba(173, 216, 230, 0.459)
  );
}

/* ####section-3 */
.sec-3 {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 1rem;
  /* width: 0vw; */
  line-height: 0.9;
}
.sec-3 > h2 {
  /* background-color: aqua; */
  width: 80%;
  font-size: 8vw;
}
.sec-3 > p {
  font-size: 5.5vw;
  color: grey;
}

.sec-3 > h4 {
  color: orange;
}
/* ####sec-4 */
.sec-4 {
  padding: 1rem;
  /* text-align: center; */
  background-color: rgba(1, 1, 25, 0.951);
  color: white;
  display: flex;
  flex-direction: column;

  gap: 2rem;
  border-radius: 1rem 1rem 0 0;
}

.sec-4 > h1 {
  /* background-color: red; */
  word-spacing: 1rem;
  width: 82vw;
  text-align: center;
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 10vw;
}

.sec-4 > button {
  margin: 1rem;
  padding: 1rem;
  /* margin: 1rem; */
  border-radius: 0.5rem;
  border: 1px solid white;
  background-color: transparent;
  color: whitesmoke;
  font-size: 4vw;
}
.bots {
  margin: 1rem;
  display: flex;
  
}
.bots > .logos {
  /* background-color: aqua; */
  width: 40%;
  padding-left: 1rem;
}
.text > p {
  font-size: 4vw;
}
.text > h4 {
  color: orange;
}

/* footer### */

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  font-size: 4vw;
  word-spacing: 0.3rem;
}

/* ####RESPONSIVE */

/* ##FOR TAB## */
@media (min-width: 768px) and (max-width: 1023px) {
  /* ###header */
  header {
    font-size: 4vw;
    align-items: center;
  }

  header > img {
    height: 4vw;
    width: 3vw;
  }

  /* ###section-1 */
  .sec-1 {
    font-size: 3.5vw;
    gap: 3rem;
    height: 120%;
  }
  .top {
    height: 50%;
  }
  .bottom {
    height: 50%;
  }

  .top > h1 {
    /* width: 49%; */
    /* height: 90%; */
    line-height: 0.9;
  }

  .top > button {
    width: 50%;
    font-size: 2.5vw;
    padding: 1rem;
  }
  .sec-1 .logos{
    /* background-color: aqua; */
    width: 15%;
  }

  .logos > img {
    height: 5vw;
    width: 5vw;
  }

  .text-1> p {
    font-size: 2.5vw;
    /* background-color: aqua; */
    width: 100%;
  }
  .text-1>h4{
    /* colo */
    font-size: 2.5vw;
  }

  /* ###section-2 */

  .sec-2 > .box-1 > h1 {
    width: 80%;
    font-size: 9vw;
    color: rgb(27, 26, 33);
  }

  .box-3 > h1 {
    width: 80%;
    font-size: 9vw;
    color: rgb(27, 26, 33);
  }

  .box-1 > p {
    /* background-color: aqua; */
    gap: 0rem;
    display: flex;
    color: grey;
    font-size: 3vw;
    align-items: center;
  }

  .box-3 > p {
    font-size: 3vw;
    /* background-color: aqua; */
    width: 98%;
    gap: 0.5rem;
    line-height: 1.2;
    color: grey;
  }

  .box-1 > p > i {
    font-size: 6vw;
  }
  /* @@@@box-5# */
  .box-5 {
    height: 70%;
    gap: 2rem;
  }

  .pop-1 > button {
    font-size: 3vw;
    width: 6%;
  }

  .pop-1 > p {
    font-size: 3.5vw;
  }

  .box-5 > h1 {
    font-size: 9vw;
    line-height: 1;
    width: 80%;
  }
  /* ####box-6 */
  .box-6 > h1 {
    display: flex;

    width: 100%;
  }
  /* #####sec-5 */
  .sec-5 {
    grid-template-columns: 1fr 1fr;
  }
  .bot-1 {
    gap: 1rem;
    height: auto;
  }
  .bot-1 > button {
    padding: 1rem;
    font-size: 3vw;
  }
  .bot-1 > p > i {
    font-size: 4vw;
  }
  .bot-1 > p > strong {
    font-size: 5vw;
    font-weight: 900;
  }
  .bot-1 > h3 {
    /* background-color: aqua; */
    width: 50%;
    font-size: 5vw;
  }
  .bot-1 > p {
    font-size: 3.8vw;
  }
  /* .sec-3##### */
  .sec-3 > h2 {
    word-spacing: 1rem;
    font-size: 5.3vw;
    width: 90%;
  }

  .sec-3 > p {
    font-size: 4vw;
  }
  /* ###sec-4## */
  .sec-4 {
    text-align: center;
    align-items: center;
    height: auto;
    gap: 0.5rem;
  }

  .sec-4 > footer {
    padding: 1rem;
    border-top: 0.2px solid white;
    font-size: 3vw;
    width: 100%;
    /* background-color: aqua; */
    flex-direction: row;
    justify-content: space-between;
  }
  .sec-4 > h1 {
    font-size: 8vw;
  }

  .sec-4 > button {
    font-size: 2.5vw;
  }
  footer > h3 > i {
    color: white;
  }
  footer > h3 {
    word-spacing: 0.5rem;
  }
  .bots {
    
    margin: 0rem 2rem 0 2rem;
    margin-bottom: 2rem;
    display: flex;
    /* background-color: brown; */
    align-items: center;
  }
  .bots > .logos {
    
    /* background-color: aqua; */
    width: 40%;
    padding-left: 1rem;
  }
  .text > p {
    font-size: 2.5vw;
    /* background-color: aqua; */
    width: 130%;
    text-align: start;
    
  }
  .text>h4{
    text-align: start;
    font-size: 2.5vw;
  }
}

/* ####for desktop */
@media (min-width: 1024px) {
  /* ###header */
  header {
    font-size: 2vw;
    padding: 1rem 0 0 5rem;
    /* background-color: aqua; */
  }

  header > img {
    height: 2vw;
    width: 2vw;
  }

  /* @@@section-1# */
  .sec-1 {
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr 1fr;
    gap: 0rem;
    padding: 5rem;
    font-size: 2.1vw;
  }

  .top {
    width: auto;
    height: 50vw;
    padding: 0rem;
    /* border: 2px solid black; */
  }

  .top > h1 {
    font-size: 7vw;
  }

  .bottom {
    height: 48vw;
    width: auto;
    margin-left: 10%;
    padding: 0;
    /* border: 2px solid black; */
  }

  .bots-1{
    font-size: 2vw;
   
  
  }

  .top > button {
    width: 80%;
    padding: 1rem;
    font-size: 1.7vw;
  }

  .logos > img {
    height: 3vw;
    width: 2.5vw;
  }
  .bots-1{
    /* background-color: aqua; */
  }
  .text-1>p{
    font-size: 1.5vw;
  }

  /* ###section-2 */
  .sec-2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 5rem;
    width: 100%;
  }

  .sec-6 {
    display: flex;
    padding: 5rem;
    width: 100%;
  }
  .box-1 {
    width: 50%;
    height: 50%;
  }
  .box-2 {
    width: 50%;
  }
  .box-3 {
    width: 50%;
  }
  .box-4 {
    width: 50%;
  }

  .sec-2 .box-2 > img {
    height: 100%;
  }
  .sec-6 .box-4 > img {
    height: 100%;
  }

  .sec-2 > .box-1 > h1 {
    width: 90%;
    font-size: 5vw;
    color: rgb(27, 26, 33);
  }

  .box-3 > h1 {
    width: 98%;
    font-size: 5vw;
    color: rgb(27, 26, 33);
  }

  .box-1 > p {
    /* background-color: aqua; */
    gap: 0rem;
    width: 80%;
    display: flex;
    color: grey;
    font-size: 1.7vw;
    align-items: center;
  }

  .box-3 > p {
    font-size: 1.6vw;
    /* background-color: aqua; */
    width: 99%;
    gap: 0.5rem;
    line-height: 1.2;
    color: grey;
  }

  .box-1 > p > i {
    font-size: 3vw;
  }
  .box-5 {
    margin: 5rem;
    align-items: center;
    height: 60%;
  }
  .box-5 > h1 {
    padding: 0;
    /* background-color: aqua; */
    text-align: center;
    height: 30%;
    font-size: 6vw;
    width: 55%;
  }
  .pop {
    width: 100%;
    padding: 1rem;
    margin: 0;
    /* background-color: aqua; */
    flex-direction: row;
    align-items: center;
  }
  .pop-1 > p {
    font-size: 2.2vw;
  }
  .pop-1 > button {
    font-size: 2vw;
    width: 20%;
  }
  .box-6 {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .box-6 > h1 {
    font-size: 5vw;

    width: 100%;
  }
  /* ####sec-5 */

  .sec-5 {
    /* border: 2px solid black; */
    margin: 1rem 8rem 4rem;
    grid-template-columns: 28% 40% 28%;
    padding: 0;
    gap: 1rem;
    height: auto;
    width: auto;
    align-items: center;
  }
  .bot-1 {
    height: 100%;
  }
  .bot-1:nth-child(2) {
    height: 110%;
    /* border: 2px solid brown; */
  }
  .bot-1 > h3 {
    /* background-color: aqua; */
    width: 50%;
    font-size: 3.5vw;
  }
  .bot-1 > button {
    padding: 1rem;
    font-size: 1.3vw;
  }
  .bot-1 > p > i {
    font-size: 2vw;
  }
  .bot-1 > p > strong {
    font-size: 4vw;
    font-weight: 900;
  }

  .bot-1 > p {
    font-size: 2vw;
  }
  .sec-3 {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .sec-3 > h4 {
    font-size: 2.5vw;
  }
  .sec-3 > h2 {
    font-size: 4vw;
  }
  .sec-3 > p {
    font-size: 2.3vw;
  }
  .sec-4 {
    padding: 5rem;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
  }
  .sec-4 > h1 {
    padding: 0.5rem;
    font-size: 6vw;
    /* background-color: aqua; */
    height: 20%;
    width: 80%;
  }
  .sec-4 > button {
    font-size: 1.9vw;
    padding: 1rem;
  }
  
  .text>h4{
    text-align: start;
  }
  .logos {
    height: 6vw;
    
    text-align: center;
  }
  .logos > img {
    height: 6vw;
    width: 4vw;
  }
  .text>p{
    font-size: 2vw;
    width: 120%;
    text-align: start;
    /* background-color: brown; */
  }
  footer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2vw;
    margin-top: 1rem;
  }
}
